<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-3">
    <div class="d-flex align-items-center">
      <div class="image">
        <img src="{{pokemon.sprites.front_default}}" class="rounded" width="155">
      </div>
      <div class="ml-3 w-100">
        <h4 class="mb-0 mt-0">{{pokemon.id}}. {{pokemon.name}}</h4>
        <span>Pokemon</span>
        <div class="button mt-2 d-flex flex-row align-items-center">
        </div>
      </div>
    </div>
  </div>
</div>
